@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: 700;
  background-color: #454545;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}
.mapa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gore {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
  padding: 10px;
  z-index: 1000; /* Ensure it is above the map */
}

input {
  text-decoration: none;
  resize: none;
  border-radius: 20px;
  margin: 10px;
  height: 1.9rem;
  padding: 0.5rem;
  width: 17rem;
  background-color: #181818;
  color: #181818;
  border-width: 0px;
  color: white;
  padding-right: 20p;
}

svg {
  fill: #ffff;
}

.dropdown-container {
  z-index: 1000000;
}

@media screen and (max-width: 1170px) {
  .dropdown-container {
    z-index: 1000000;
    margin-bottom: 10px;
  }
  .Title {
    visibility: hidden;
  }
  .scroll-stuff {
    width: 93vw !important;
  }
  input {
    text-decoration: none;
    resize: none;
    border-radius: 20px;
    margin: 10px;
    height: 1.9rem;
    padding: 0.5rem;
    width: 18rem;
    background-color: #181818;
    color: #181818;
    border-width: 0px;
    color: white;
  }
  .scroll-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 10px; /* Space between items */
    width: 92%; /* Fixed container width */
    white-space: nowrap; /* Prevent wrapping of items */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  .gore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    z-index: 1000; /* Ensure it is above the map */
  }
  .search-results {
    list-style: none;
    top: 1vh;
    left: 5% !important;
    width: 17rem;
    max-width: 400px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 1090;
    position: absolute;
    background-color: #181818;
  }
}
.Title {
  position: absolute;
  top: 0px;
  left: 20px;
}

.search-results {
  list-style: none;
  top: 5vh;
  left: 1vw;
  width: 17rem;
  max-width: 400px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 1090;
  position: absolute;
  background-color: #181818;
}
.search-result {
  margin: 4px 0 0 0;
}
.search-result {
  text-decoration: none;
  background-color: #181818;
  padding: 8px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.search-result:last-child {
  border-bottom: none;
}

/* Hover effect for search result items */
.search-result:hover {
  background-color: #c3c3c335;
}

.scroll-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 10px; /* Space between items */
  width: 400px; /* Fixed container width */
  white-space: nowrap; /* Prevent wrapping of items */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

.scroll-arrow {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 50px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  top: -3px;
}

.scroll-item {
  display: inline-block;
  padding: 10px 20px;
  background: #181818; /* Dark background */
  color: white; /* White text */
  border-radius: 20px; /* Rounded corners */
  text-align: center;
  cursor: pointer;
  border: none;
}

.scroll-item.active {
  background: #3e3e3e;
}

.scroll-stuff {
  display: flex;
  align-items: center;
  margin-left: 10px;

  gap: 10px;
}

@media (max-width: 767px) {
  .leaflet-popup-content {
    font-size: 12px; /* smaller font size */
    max-width: 250px !important; /* limit the maximum width of the popup */
    min-width: 180px !important; /* limit the minimum width of the popup */
    padding: 10px !important; /* reduce padding */
    max-height: 220px !important; /* maximum height */
    overflow-y: auto !important; /* make content scrollable if it exceeds max height */
  }
}

#app {
  height: 100%;
}

#searchbar-container {
  position: relative;
  display: inline-block;
}

#search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  fill: #fff;
}
.bbb {
  position: fixed; /* Change to fixed to make it stay in view as you scroll */
  bottom: 0; /* Adjust to your desired position */
  left: 0; /* Align it to the right side */
  appearance: button;
  backface-visibility: hidden;
  background-color: #181818;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5rem;
  z-index: 1000000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 6px;
  z-index: 1000001;
}

.popup-content {
  background-color: #181818;
  padding: 20px;
  border-radius: 6px;
}

.popup-content p {
  font-size: 18px;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}
