.gore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    z-index: 1000; /* Ensure it is above the map */
}

.moblina-prvi-redak {
    flex: 0;
    display: flex;
    flex-direction: row;
}

#searchbar-container {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
}

.search-input-field {
    text-decoration: none;
    resize: none;
    border-radius: 20px;
    height: 100%;
    padding: 0.5rem;
    width: 17rem;
    background-color: #181818;
    color: #181818;
    border-width: 0px;
    color: white;
    padding-right: 20p;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    z-index: 1000000;
}

.scroll-stuff {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
    width: 100%;
}

.scroll-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

/* @media screen and (min-width: 1024px) {

} */

@media screen and (max-width: 1170px) {
    .gore {
        display: flex;
        flex-direction: column;
    }

    .dropdown-container {
        display: flex;
        flex-direction: row;
    }

    #searchbar-container {
        flex: 1;
    }

    .moblina-prvi-redak {
        flex: 1;
    }

    .search-input-field {
        width: 100%;
        flex: 1;
    }

    .scroll-stuff {
        margin: 0px;
    }

    .scroll-container {
        overflow-x: auto;
        white-space: nowrap; /* Prevent wrapping of items */
    }
}
