@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
/* Container for dropdown */

/* Collapse indicator for categories */
.category-icon {
  transition: transform 0.2s ease;
}

.category-icon.open {
  transform: rotate(180deg);
}

/* Button styling */
.dropdown-button {
  padding: 8px 12px;
  background-color: #0e0e0e;
  font-size: 14px;
  color: white;
  cursor: pointer;
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-width: 0px;
  border-radius: 20px;
}

/* Dropdown menu styling */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #0e0e0e;
  width: 350px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin-top: 8px;
  padding-top: 8px;
}

.dropdown-menu.show {
  display: block;
  border-radius: 15px;
}

/* Dropdown option styling */
.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
  z-index: 100;
}

/* Hover effect for options */
.dropdown-option:hover {
  background-color: #0e0e0e;
}

/* Collapsible category styling */
.category-header {
  background-color: #0e0e0e;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Collapse indicator for categories */
.category-icon {
  transition: transform 0.3s ease;
}

.category-icon.open {
  transform: rotate(180deg);
}

.filter-container {
  position: absolute;
  top: 100%;
  right: 50%;
  background-color: #0e0e0e;
  width: 320px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-width: 0px;
}

.filter-section {
  margin-bottom: 1rem;
}

.filter-apply-button {
  margin-top: 1rem;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.filter-apply-button:hover {
  background-color: #45a049;
}

.checkbox {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 15px;
  color: #0e0e0e !important;
  display: inline-block; /* Changed to inline-block */
  width: 15px;
  height: 15px;
  border: 3px solid #383838;
  margin-right: 7px;

  text-decoration: none;
  resize: none;
  border-radius: 20px;
  margin: 10px;
  padding: 0.5rem;
  background-color: #181818;
  border-width: 0px;
  padding-right: 20p;
}

.filter-options {
  display: flex; /* Added this rule for inline checkboxes */
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.filter-option {
  font-weight: 300;
}

@media screen and (max-width: 1170px) {
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #0e0e0e;
    width: 300px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin-top: 8px;
  }
  .dropdown-button {
    background-color: #0e0e0e;
    font-size: 14px;
    color: white;
    cursor: pointer;
    width: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-width: 0px;
    border-radius: 20px;
  }
  
  .checkbox {
    text-decoration: none;
    resize: none;
    border-radius: 20px;
    margin: 10px;
    padding: 0.5rem;
    background-color: #181818;
    border-width: 0px;
  }
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
